@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

*{margin: 0; padding: 0;}
body{font-family: 'SolaimanLipi', sans-serif, "Poppins", sans-serif;}
img{width: 100%;}
a{text-decoration: none; color: #000;}
ul{list-style-type: none;}
a:hover{color:black}


.container{
	width: 1264px;
	max-width: 1264px !important;
	margin: 0 auto;
}
.logo{
	padding-top: 30px;
	width: 250px;
	margin: 0 auto;
}
.top-header{
	width: 100%;
	overflow: hidden;
}
.top-header h1{
	text-align: center;
	padding-top: 50px;
	overflow: hidden;
}
.top-header .date{
	width: 20%;
	float: left;

}
.top-header .edition{
	width: 13%;
	float: right;
	overflow: hidden;

}
.top-header h6{
	width: 40%;
	padding: 3px 0;
	float: left;
}
.top-header .top-header select{
	width: 60%;
	float: left;
}
.navbar{
	width: 100%;
	height: 50px;
	border-top: solid darkgray 1px;
	overflow: hidden;
	
	
	
}
.navbar .logo{
	width: 0%;
	float: left;
}
.navbar .nav{
	width: 99%;
	float: left;
}
.navbar .nav ul{
	float: right;
}
.navbar .nav ul li{
	float: left;
	padding-left: 40px;
	
}
.navbar .nav ul li:hover{
	color: red;
}
.topper-section{
	border-top: solid darkgray 1px;
    width: 100%;
	height: 125px;
}
.topper-section .cards{
	width: 85%;
	height: 100px;
	background-image: linear-gradient( skyblue, green);
	margin-top: 1%;
	margin-left: 8%;
	
	
}
.topper-section .text{
	color: white;
	text-align: center;
	padding-top: 20px;
}
.topper-section .text h1{
	color: green;
}


.top-section{
	width: 100%;
	height: 300px;
	border-top: solid darkgrey 1px;
	padding-top: 20px;
	overflow: hidden;
}
h3{
	font-size: 23px;
	
	
}
h5{
	font-size: 18px;
}
h6{
	padding-top: 15px;

}
p{
	font-size: 15px;
	color: dimgrey;
}
.name-highlight{
	color: red;
}

.top-section .card-lead{
	width: 50%;
	height: 300px;
	overflow: hidden;
	float: left;
	
}
.top-section .img{
	width: 50%;
	padding-top: 10px;
	padding-right: 15px;
	overflow: hidden;
	float: left;
	margin-right: 1%;
}
.top-section .wrapper{
	margin-right: -1%;
}
.top-section .text{
	width: 49%;
	padding-right: 15px;
	overflow: hidden;
	float: left;
}
.top-section .card-nonlead{
	width: 50%;
	height: 300px;
	border-left: solid darkgray 1px;
	overflow: hidden;
	float: left;
}
.top-section .card-nonlead .text{
	width: 49%;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}
.top-section .card-nonlead .img{
	width: 50%;
	height: 300px;
	overflow: hidden;
	float: left;
	padding-left: 20px;
	border-left: solid darkgray 1px;
}
.bannar-section{
	width: 100%;
	height: 250px;
	border-top: solid darkgray 1px;
	padding-top: 20px;
	overflow: hidden;
	
}
.news-head:hover{
	color: blue;
}

.card-lead, .card-nonlead{
	cursor: pointer;
}
.bannar-section .card-nonlead .text-1 .p-head:hover{
	color: blue;
}
.bannar-section .card-nonlead .text-2 .p-head:hover{
	color: blue;
}
.bannar-section .card-nonlead .text-3 .p-head:hover{
	color: blue;
}
.bannar-section .card-nonlead .text-4 .p-head:hover{
	color: blue;
}
.bond-section h5:hover{
	color: blue;

}
.boni-section h5:hover{
	color: blue;
} 
.card-small-1, .card-small-2, .card-small-3{
	cursor: pointer;
}
.cards-1, .cards-2, .cards-3{
	cursor: pointer;
}

.bannar-section .card-nonlead .text-1{
	width: 25%;
    overflow: hidden;
	float: left;
	padding-right: 20px;
	

}
.bannar-section .card-nonlead .text-2{
	width: 25%;
	border-left: solid darkgray 1px;
    overflow: hidden;
	float: left;
	padding-left: 20px;

}
.bannar-section .card-nonlead .text-3{
	width: 25%;
	border-left: solid darkgray 1px;
    overflow: hidden;
	float: left;
	padding-left: 20px;
}
.bannar-section .card-nonlead .text-4{
	width: 25%;
	border-left: solid darkgray 1px;
    overflow: hidden;
	float: left;
	padding-left: 20px;
}
.bond-section{
	width: 100%;
	height: 200px;
	
	
}
.bond-section .wrapper{
	
}
.bond-section .card-small-1{
	border-top: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding: 20px;
	overflow: hidden;
	float: left;
}
.bond-section .card-small-2{
	border-top: solid darkgray 1px;
	border-left: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding: 20px;
	overflow: hidden;
	float: left;
}
.bond-section .card-small-3{
	border-top: solid darkgray 1px;
	border-left: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding: 20px;
	overflow: hidden;
	float: left;
}
.boni-section{
	width: 100%;
	height: 200px;
}
.boni-section .cards-1{
	border-top: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding: 20px;
	overflow: hidden;
	float: left;
}
.boni-section .cards-2{
	border-top: solid darkgray 1px;
	border-left: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding: 20px;
	overflow: hidden;
	float: left;
}
.boni-section .cards-3{
	border-top: solid darkgray 1px;
	border-left: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding: 20px;
	overflow: hidden;
	float: left;
}
.add-section{
	border-top: solid darkgray 1px;
    width: 100%;
	height: 250px;
}
.add-section .cards{
	width: 75%;
	height: 200px;
	background-color: rgb(174, 162, 238);
	margin-top: 2%;
	margin-left: 15%;
	
}
.add-section .text{
	color: white;
	text-align: center;
	padding-top: 50px;
}
.add-section-1{
	border-top: solid darkgray 1px;
	width: 100%;
	height: 100px;
}
.add-section-1 .cards-1{
	width: 33%;
	overflow: hidden;
	padding-top: 50px;
	float: left;

}

.add-section-1 .cards-2{
	width: 33%;
	padding-top: 50px;
	overflow: hidden;
	float: left;

}
.tree-width{
	width: 100%;
	height: 650px;
	overflow: hidden;
}
.tree-width .cards-1{
	width: 26%;
	height: 650px;
	border-top: solid darkgray 1px;
	overflow: hidden;
	float: left;
	margin-left: 1%;
	
	
	
}
.tree-width .cards-1 h1{
	padding-left: 15px;
}
.tree-width .cards-1 h5{
	border-bottom: solid darkgray 1px;
	padding: 5px 10px;

}
.tree-width .cards-2{
	width: 45%;
	height: 280px;
	overflow: hidden;
	float: left;
	margin-left: 1%;
	border-left: solid darkgray 1px;
	
	
	
}
.tree-width .cards-2 .img{
	width: 99%;
	padding: 0 20px 20px 20px;
}
.tree-width .cards-3{
	width: 26%;
	height: 280px;
	border-left: solid darkgray 1px;
	overflow: hidden;
	float: left;
	margin-left: 1%;
	background-color: aqua;
	padding: 20px;
	
	
}
.tree-width .wrapper{
	margin-left: -1%;
	
}

