@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{margin: 0; padding: 0;}
body{font-family: 'Hind Siliguri', sans-serif, "Poppins", sans-serif;}
img{width: 100%;}
a{text-decoration: none; color: #000;}
ul{list-style-type: none;}

.container{
	width: 1140px;
	margin: 0 auto;
}
.top-header{
	background-color: aqua;
	width: 100%;
	height: 170px;
	overflow: hidden;
}
.top-header h1{
	text-align: center;
	padding-top: 50px;
	overflow: hidden;
}
.top-header h6{
	text-align: end;
	overflow: hidden;

}
.navbar{
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}
.navbar .logo{
	width: 0%;
	float: left;
}
.navbar .nav{
	width: 95%;
	float: left;
}
.navbar .nav ul{
	float: right;
}
.navbar .nav ul li{
	float: left;
	padding: 20px;
	margin: 0 auto;
}
.navbar .nav ul li:hover{
	background-color: skyblue;
	transition: 1s;
}
