@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

*{margin: 0; padding: 0;}
body{font-family: 'SolaimanLipi', sans-serif, "Poppins", sans-serif;}
img{width: 100%;}
a{text-decoration: none; color: #000;}
ul{list-style-type: none;}

.container{
	width: 1140px;
	margin: 0 auto;
}
.logo{
	padding-top: 30px;
	width: 250px;
	margin: 0 auto;
}
.top-header{
	width: 100%;
	overflow: hidden;
}
.top-header h1{
	text-align: center;
	padding-top: 50px;
	overflow: hidden;
}
.top-header .date{
	width: 20%;
	float: left;

}
.top-header .edition{
	width: 13%;
	float: right;
	overflow: hidden;

}
.top-header h6{
	width: 40%;
	padding: 3px 0;
	float: left;
}
.top-header .top-header select{
	width: 60%;
	float: left;
}
.navbar{
	width: 100%;
	height: 50px;
	border-top: solid darkgray 1px;
	overflow: hidden;
	
	
	
}
.navbar .logo{
	width: 0%;
	float: left;
}
.navbar .nav{
	width: 99%;
	float: left;
}
.navbar .nav ul{
	float: right;
}
.navbar .nav ul li{
	float: left;
	padding-left: 40px;
	
}
.navbar .nav ul li:hover{
	color: red;
}
.top-section{
	width: 100%;
	height: 300px;
	border-top: solid darkgrey 1px;
	padding-top: 20px;
	overflow: hidden;
}
h3{
	font-size: 23px;
	
}
h6{
	padding-top: 15px;
}
p{
	font-size: 15px;
}
.name-highlight{
	color: red;
}

.top-section .card-lead{
	width: 50%;
	height: 300px;
	overflow: hidden;
	float: left;
	
}
.top-section .img{
	width: 50%;
	padding-top: 10px;
	padding-right: 15px;
	overflow: hidden;
	float: left;
	margin-right: 1%;
}
.top-section .wrapper{
	margin-right: -1%;
}
.top-section .text{
	width: 49%;
	padding-right: 15px;
	overflow: hidden;
	float: left;
}
.top-section .card-nonlead{
	width: 50%;
	height: 300px;
	border-left: solid darkgray 1px;
	overflow: hidden;
	float: left;
}
.top-section .card-nonlead .text{
	width: 49%;
	overflow: hidden;
	float: left;
	padding-left: 20px;
}
.top-section .card-nonlead .img{
	width: 50%;
	height: 300px;
	overflow: hidden;
	float: left;
	padding-left: 20px;
	border-left: solid darkgray 1px;
}
.bannar-section{
	width: 100%;
	height: 250px;
	border-top: solid darkgray 1px;
	padding-top: 20px;
	overflow: hidden;
	
}

.bannar-section .card-nonlead .text-1{
	width: 25%;
    overflow: hidden;
	float: left;
	padding-right: 20px;
	

}
.bannar-section .card-nonlead .text-2{
	width: 25%;
	border-left: solid darkgray 1px;
    overflow: hidden;
	float: left;
	padding-left: 20px;

}
.bannar-section .card-nonlead .text-3{
	width: 25%;
	border-left: solid darkgray 1px;
    overflow: hidden;
	float: left;
	padding-left: 20px;
}
.bannar-section .card-nonlead .text-4{
	width: 25%;
	border-left: solid darkgray 1px;
    overflow: hidden;
	float: left;
	padding-left: 20px;
}
.bond-section{
	width: 100%;
	height: 300px;
	
	
}
.bond-section .wrapper{
	
}
.bond-section .card-small-1{
	border-top: solid darkgray 1px;
	width: 25%;
	
	padding-top: 20px;
	padding-right: 10px;
	overflow: hidden;
	float: left;
}
.bond-section .card-small-2{
	border-top: solid darkgray 1px;
	border-left: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding-left: 10px;
	overflow: hidden;
	float: left;
}
.bond-section .card-small-3{
	border-top: solid darkgray 1px;
	border-left: solid darkgray 1px;
	width: 25%;
	padding-top: 20px;
	padding-left: ;
	overflow: hidden;
	float: left;
}



